.toolbar-header {
  height: 8vh;
  width: 100%;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);

  h4 {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  button {
    margin-left: 2rem; 
  }
}