.toolbar-header {
  width: 100%;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  button {
    margin-left: 2rem; 
  }
}