@import "src/variables";

.toolbar-header {
  //height: 8vh;
  height: 10%;
  width: 100%;
  padding-left: 2rem;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);

  @media screen and (max-width: $x-small) {
    justify-content: space-between;
  }

  .toolbar-subheader {
    @media screen and (max-width: $x-small) {
      display: none;
    }
  }

  .menu-header {
    @media screen and (min-width: $x-small + 1) {
      display: none;
    }
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  button {
    margin-left: 2rem;

    @media screen and (max-width: $x-small) {
      margin: 0;
    }
  }
}