<main>
    <div id="particles-js" class="splash-screen">
        <canvas class="particles-js-canvas-el"></canvas>
        <div class="splash-description">
            <h1 class="mat-headline-2">Projeto CriminiX</h1>
            <h3 class="mat-headline-5">
                Trabalhando de forma
                <span class="splash-reinforcement-text">preditiva</span>
                e não reativa
            </h3>
            <h5 class="mat-body-1">
                Buscando <span class="splash-reinforcement-text">maximizar</span> a individualização da
                <b>precificação de seguros de veículos</b> através de <span
                    class="splash-reinforcement-text">insights</span>
            </h5>
            <button mat-raised-button color="accent" [routerLink]="['/evaluate']" matTooltip="Simular Cliente">
                <span class="mat-headline-6">Simular</span>
            </button>
        </div>
    </div>

    <div class="about-redirect-section">
        <button mat-button (click)="scrollToElement(target)">
            <mat-icon iconPositionEnd>arrow_downward</mat-icon>
            <span class="mat-headline-6">Saiba mais</span>
        </button>
    </div>
    <div #target class="about-screen">
        <section>
            <h3 class="mat-headline-3">Objetivo</h3>
        </section>
        <section>
            <h3 class="mat-headline-3">Equipe</h3>
            <p>Estudantes do último ano de Ciência da computação na faculdade SPTECH.</p>
            <p>Buscando agregar nas análises feitas por seguradoras sobre veiculos no estado de SP.</p>
            <ul>Felipe Azevedo</ul>
            <ul>Gabriel Ronny</ul>
            <ul>Rodrigo Busto</ul>
        </section>
    </div>
</main>
<footer>
    <section>
        <h3 class="mat-headline-3">Referências</h3>
        <ul class="footer-section-items">
            <button mat-button matTooltip="Codigo fonte do projeto">
                <a href="https://github.com/CriminiX/" target="_blank">
                    <img alt="Github Logo" ngSrc="assets/github-mark-white.svg" height="32" width="32">
                    <span>Github</span>
                </a>
            </button>
        </ul>
        <h3 class="mat-headline-3">Contato</h3>
        <ul class="footer-section-items">
            <div class="footer-section-item">
                <h4 class="mat-body-1">Felipe Azevedo</h4>
                <div class="footer-section-item-list">
                    <button mat-button>
                        <a href="https://www.linkedin.com/in/felipe-azevedo-4b71171a8/" target="_blank">
                            <mat-icon color="primary">alternate_email</mat-icon>
                            <span>Linkedin</span>
                        </a>
                    </button>

                    <button mat-button>
                        <a href="mailto:felipe.azevedo@bandtec.com.br">
                            <mat-icon color="primary">email</mat-icon>
                            <span>E-mail</span>
                        </a>
                    </button>
                </div>
            </div>

            <div class="footer-section-item">
                <h4 class="mat-body-1">Gabriel Ronny</h4>
                <div class="footer-section-item-list">
                    <button mat-button>
                        <a href="https://www.linkedin.com/in/gabrielronny/" target="_blank">
                            <mat-icon color="primary">alternate_email</mat-icon>
                            <span>Linkedin</span>
                        </a>
                    </button>

                    <button mat-button>
                        <a href="mailto:gabriel.pereira@bandtec.com.br">
                            <mat-icon color="primary">email</mat-icon>
                            <span>E-mail</span>
                        </a>
                    </button>
                </div>
            </div>

            <div class="footer-section-item">
                <h4 class="mat-body-1">Rodrigo Busto</h4>
                <div class="footer-section-item-list">
                    <button mat-button>
                        <a href="https://www.linkedin.com/in/rodrigo-busto-716b871a4/" target="_blank">
                            <mat-icon color="primary">alternate_email</mat-icon>
                            <span>Linkedin</span>
                        </a>
                    </button>

                    <button mat-button>
                        <a href="mailto:rodrigo.busto@bandtec.com.br">
                            <mat-icon color="primary">email</mat-icon>
                            <span>E-mail</span>
                        </a>
                    </button>
                </div>
            </div>
        </ul>
    </section>
</footer>
