@import "src/theme";

.docs-container {
  width: 100%;
  height: calc(100vh - 10%);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

  .sidenav {
    width: 25%;

    .sidenav-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 1rem;

      h3 {
        margin: 0;
      }

      .divider {
        width: 80%;
        margin: 1rem 0;
      }

      button {
        margin-bottom: 1rem;
        min-width: 50%;
        max-width: 80%;
      }
    }
  }

  main {
    height: calc((100vh - 10%) - 1rem);
    border-top: 1rem solid #4dd0e1;
    border-left: 2rem solid #4dd0e1;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

