@import "src/theme";

.dialog-title {
  padding: 0;
  flex: 1;
  margin: 0 2rem 0 0;
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fit-card-container {
  padding: 0 2rem;
  box-sizing: border-box;
  background-color: $primary-color-light;
}

.card-container-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.05);
}

.fit-card {
  width: 100%;
}

.expand-card {
  min-width: 35%;
  position: absolute;
}

.evaluate-card {
  //height: 50%;

  .evaluate-card-header-container {
    display: flex;
    justify-content: space-between;
  }

  .evaluate-card-content {
    margin-top: 1rem;

    .divider {
      margin-bottom: 2rem;
    }

    form {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .data-form {
        width: 100%;
        margin-bottom: 1rem;

        //&:last-child {
        //  margin-bottom: 0;
        //}
      }
    }

    .history-description {
      justify-content: flex-end;
      align-items: center;
    }
  }

  .evaluate-card-actions {
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
}
