@import "src/styles";

main {
  //background: $primary-color-dark;
  height: calc(100vh - 8vh);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .fit {
    height: 100%;
    width: 100%;
  }
}
