<mat-toolbar color="accent" class="feedback-dialog-header">
    <div class="feedback-dialog-header-container">
        <h5 class="mat-headline-5 dialog-title">Feedback</h5>
        <mat-icon>feedback</mat-icon>
    </div>
</mat-toolbar>

<mat-dialog-content>

    <h6 class="mat-headline-6">Resumo do Resultado</h6>


    <div style="overflow-x: auto">
        <table mat-table [dataSource]="dataTable" class="mat-elevation-z0" matSort>
            <!-- Index Column -->
            <ng-container matColumnDef="indexLocation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Ordem">Localização</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.indexLocation }}
                </td>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Cidade">Cidade</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.city }}
                </td>
            </ng-container>

            <!-- Neighborhood Column -->
            <ng-container matColumnDef="neighborhood">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Bairro">Bairro</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.neighborhood }}
                </td>
            </ng-container>

            <!-- Score Column -->
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Score">Score</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.score }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['indexLocation', 'city', 'neighborhood', 'score']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['indexLocation', 'city', 'neighborhood', 'score'];"></tr>
        </table>
    </div>

    <mat-divider class="divider"></mat-divider>

    <h6 class="mat-headline-6">Feedback</h6>

    <form
        id="feedbackForm"
        (ngSubmit)="sendFeedback()"
        [formGroup]="feedbackForm"
    >
        <h6 class="mat-body">Pontuação do resultado</h6>

<!--        <p class="mat-body-1 feedback-score-description">-->
<!--            1 = Pouco realista-->
<!--            <br>-->
<!--            5 = Muito realista-->
<!--        </p>-->

        <div class="feedback-score-container">

            <p class="mat-body-1">Pouco realista</p>

            <mat-button-toggle-group class="button-toggle-group" formControlName="feedbackScore">
                <mat-button-toggle value="1"><span class="button-toggle-data">1</span></mat-button-toggle>
                <mat-button-toggle value="2"><span class="button-toggle-data">2</span></mat-button-toggle>
                <mat-button-toggle value="3"><span class="button-toggle-data">3</span></mat-button-toggle>
                <mat-button-toggle value="4"><span class="button-toggle-data">4</span></mat-button-toggle>
                <mat-button-toggle value="5"><span class="button-toggle-data">5</span></mat-button-toggle>
            </mat-button-toggle-group>

            <p class="mat-body-1">Muito realista</p>
        </div>

        <h6 class="mat-body">Sugestão de mudança ao score</h6>

        <ng-container *ngFor="let location of locations; let index = index">

            <h6 class="mat-body-strong" *ngIf="locations.length > 1">{{index + 1}}ª Localização</h6>

            <div class="feedback-suggestion-container" [formGroup]="suggestionScoresForm[index]">

                <div class="feedback-suggestion-slider-container">
                    <input
                            class="slider"
                            formControlName="suggestionScore"
                            type="range"
                            min="-200"
                            max="200"
                            value="0"
                            step="50"
                            list="suggestionScores"
                    />

                    <datalist id="suggestionScores">
                        <ng-container *ngFor="let val of [-200, -150, -100, -50, 0, 50, 100, 150, 200]">
                            <option [value]="val" [label]="val | absolute"></option>
                        </ng-container>
                    </datalist>
                </div>

                <p class="mat-body">
                    Sugestão: <b>{{ this.suggestionScoresForm[index].controls["suggestionScore"].value | absolute }}</b>
                </p>
            </div>
        </ng-container>

        <mat-form-field class="data-form" appearance="outline" color="accent">
            <mat-label>Observações</mat-label>
            <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="3"
                    formControlName="comments"
                    maxlength="300"
            ></textarea>
            <mat-hint>Conte-nos com mais detalhes sobre o que achou.</mat-hint>
            <mat-error *ngIf="feedbackForm.controls['comments'].value.length > 300">Você atingiu o limite máximo de 300 caracteres.</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="feedback-dialog-actions">
    <button mat-flat-button [mat-dialog-close]="undefined">
        Cancelar
    </button>
    <button
            mat-flat-button
            color="accent"
            type="submit"
            form="feedbackForm"
            [disabled]="feedbackForm.invalid || loading"
    >
        Enviar
    </button>
    <mat-spinner
            *ngIf="loading"
            color="primary"
            style="height: 2rem; width: 2rem;margin-left: 1rem;"
    ></mat-spinner>
</mat-dialog-actions>