.locations-form {
  display: flex;
  flex-direction: column;

  .locations-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h6 {
      margin: 0;
      font-weight: 500;
    }
  }

  .divider {
    margin-bottom: 2rem;
  }

  .location-option {
    display: flex;

    .data-form {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

