
//.modal-header {
//  width: 100%;
//  display: flex;
//  align-items: flex-start;
//  flex-direction: column;
//  justify-content: space-between;
//  padding: 1rem 1rem 2rem;
//  box-sizing: border-box;
//h5 {
  //padding: 0 1rem;
  //margin: 0 0 1rem;
//}
//}

.dialog-title {
  padding: 0;
  margin: 0;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  data-form {
    width: 100%;
  }
}