<mat-toolbar color="primary">
    <h5 class="mat-headline-5 dialog-title">Simular Cliente</h5>
</mat-toolbar>

<mat-dialog-content>
    <form id="evaluateForm" #evaluateFormElement="ngForm" (ngSubmit)="evaluate(evaluateFormElement)" [formGroup]="evaluateForm" >
        <mat-form-field class="data-form" appearance="outline" hideRequiredMarker>
            <mat-label>Nome</mat-label>
            <input
                matInput
                placeholder="Ex.: Alberto"
                formControlName="name"
            />
            <mat-error *ngIf="evaluateForm.invalid">Este campo é obrigatório.</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="box-sizing: border-box" align="end">
    <button
        mat-flat-button
        color="primary"
        type="submit"
        form="evaluateForm"
        [disabled]="evaluateForm.invalid"
    >
        Simular
    </button>
<!--    <button mat-flat-button [mat-dialog-close]="undefined">Cancelar</button>-->
    <button mat-flat-button [mat-dialog-close]="undefined" [routerLink]="['']">
        <span>Cancelar</span>
    </button>
</mat-dialog-actions>