@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "theme";

@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Open Sans'
);

$criminix-theme: mat.define-light-theme((
  color: (
    primary: $criminix-primary,
    accent: $criminix-accent,
    warn: $criminix-warn,
  ),
  typography: $custom-typography
));

@include mat.all-component-themes($criminix-theme);
@include mat.typography-hierarchy($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', "Helvetica Neue", sans-serif; }

.dialog-container {
  //min-height: 60%;
  min-width: 60%;
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: -1;
}