@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "theme";

@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Open Sans'
);

$criminix-theme: mat.define-light-theme((
  color: (
    primary: $criminix-primary,
    accent: $criminix-accent,
    warn: $criminix-warn,
  ),
  typography: $custom-typography
));

@mixin mix-criminix-theme($criminix-theme) {
  .mat-button-toggle-checked {
    background-color: $accent-color;
    color: #ffffff;
  }

  .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: #ffffff;
  }
}

@include mat.all-component-themes($criminix-theme);
@include mat.typography-hierarchy($custom-typography);
@include mix-criminix-theme($criminix-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', "Helvetica Neue", sans-serif; }

.dialog-container {
  //min-height: 60%;
  min-width: 60%;
}

.dialog-container-tiny {
  //min-height: 80%;
  min-width: 50%;
}

.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: -1;
}


// MARKDOWN
.md-view {
  pre {
    background-color: #dddddd;
    border-radius: 16px;
    padding: 0.5rem 1rem;
  }

  code {
    display: inline-block;
    white-space: normal;
    max-width: 100%;
    word-wrap: break-word;
  }
}