@import "src/styles";

main {
  height: calc(100vh - 8vh);
  width: 100%;

  display: flex;

  .fit-half {
    width: 40%;
    height: 100%;
  }

  section {
    width: 60%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: $primary-color-light;
    overflow-y: auto;

    mat-card {
      margin: 1rem 0;

      .result-summary {
        display: flex;
        flex-direction: column;
      }

      .divider {
        margin-bottom: 1rem;
      }
    }


  }
}